@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
:root {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: currentColor;
}

figcaption {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 480px;
  padding: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0px 70px;
  }
}

.main-header {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  text-align: center;
  color: #ffffff;
}

.icon {
  display: inline-block;
  fill: currentColor;
}

.nav__icon {
  width: 24px;
  height: 24px;
}

.btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.modal__close-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 8px;
  right: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #000000;
  background-color: #f7f7f7;
}

.modal__close-btn:hover, .modal__close-btn:focus {
  fill: #ffffff;
  background-color: #FF6B08;
}

.header__toggle-label {
  width: 50px;
  height: 20px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
          box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__toggle-label:after {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcc89), to(#d8860b));
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__toggle-input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.header__toggle-input:checked + .header__toggle-label {
  background: #242424;
}

.header__toggle-input:checked + .header__toggle-label:after {
  left: 49px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#3a3a3a));
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.header__toggle-label:active:after {
  width: 26px;
}

.header__toggle-input:checked + .header__toggle-label + .background {
  background: #242424;
}

body.light-theme {
  background-color: #ffffff;
  color: #333333;
}

body.dark-theme {
  background-color: #333333;
  color: #ffffff;
}

body.dark-theme .footer,
body.dark-theme .genre,
body.dark-theme .modal,
body.dark-theme .movie-card__title,
body.dark-theme .description__film,
body.dark-theme .description__text,
body.dark-theme .popularity__value,
body.dark-theme .title__value,
body.dark-theme .genre__value {
  color: #ffffff;
}

body.dark-theme .footer,
body.dark-theme .genre,
body.dark-theme .modal {
  background-color: #252525;
}

body.dark-theme .movie-card__title {
  font-weight: 400;
}

body.dark-theme .modal__close-btn {
  fill: #8c8c8c;
  border-color: #8c8c8c;
}

body.dark-theme .modal__close-btn:hover, body.dark-theme .modal__close-btn:focus {
  fill: #FF6B08;
  border-color: #FF6B08;
}

body.dark-theme .styledSelect,
body.dark-theme .styledSelect:active,
body.dark-theme .styledSelect.active {
  background-color: #8c8c8c;
}

body.dark-theme .options li {
  background-color: #252525;
  color: #8c8c8c;
}

body.dark-theme .options li:hover, body.dark-theme .options li:focus {
  background-color: #FF6B08;
  color: #ffffff;
}

body.dark-theme .pagination a {
  color: #ffffff;
}

body.dark-theme .votes__mark {
  background-color: #505050;
  color: #ffffff;
}

.go-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 250px;
}

.go-top-button {
  background: #ffffff;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  color: #FF6B08;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-color: #FF6B08;
}

.go-top-button:hover {
  cursor: pointer;
  background-color: #FF6B08;
  color: #ffffff;
  border-color: #FF6B08;
  -webkit-box-shadow: 0px 0px 28px 0px #ff6b08;
  box-shadow: 0px 0px 28px 0px #ff6b08;
}

.go-top-button.active {
  bottom: 14px;
  pointer-events: auto;
  opacity: 1;
}

.content::after {
  display: none;
}

.loader {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #9e98a2;
}

.loader > div {
  height: 100px;
  width: 100px;
  border: 15px solid #9e98a2;
  border-top-color: #0082bc;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.pagination-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  cursor: pointer;
  color: black;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  padding: 11px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #ff6b08;
  color: white;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination [aria-disabled='true'] {
  cursor: default;
  opacity: 0.5;
}

.pagination a:hover:not(.active):not([aria-disabled='true']) {
  background-color: #F7F7F7;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pagination-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .pagination-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 46px;
    padding-bottom: 60px;
  }
}

.s-hidden {
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font: normal 11px/22px Arial, Sans-Serif;
  color: #000000;
  border: 1px solid #ccc;
}

.styledSelect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  padding: 0 10px;
  font-weight: bold;
}

.styledSelect:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: black transparent transparent transparent;
  position: absolute;
  top: 9px;
  right: 6px;
}

.styledSelect:active,
.styledSelect.active {
  background-color: #eee;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 2;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  border: 1px solid #ccc;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.options li {
  padding: 0 6px;
  margin: 0 0;
  padding: 0 10px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.options li:hover, .options li:focus {
  background-color: #FF6B08;
  color: #ffffff;
}

.header {
  min-height: 230px;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/mobile/bg-home-mobile.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/mobile/bg-home-mobile.jpg");
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/mobile/bg-home-mobile@2x.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/mobile/bg-home-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/tablet/bg-home-tablet.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/tablet/bg-home-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/tablet/bg-home-tablet@2x.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/tablet/bg-home-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/desktop/bg-home-pc.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/desktop/bg-home-pc.jpg");
  }
}

@media screen and (min-width: 1024px) and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/desktop/bg-home-pc@2x.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/desktop/bg-home-pc@2x.jpg");
  }
}

.header--library {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/mobile/bg-library-mobile.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/mobile/bg-library-mobile.jpg");
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header--library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/mobile/bg-library-mobile@2x.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/mobile/bg-library-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .header--library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/tablet/bg-library-tablet.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/tablet/bg-library-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header--library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/tablet/bg-library-tablet@2x.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/tablet/bg-library-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .header--library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/desktop/bg-library-pc.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/desktop/bg-library-pc.jpg");
  }
}

@media screen and (min-width: 1024px) and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header--library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/desktop/bg-library-pc@2x.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/desktop/bg-library-pc@2x.jpg");
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__title {
  color: #ffffff;
  margin-left: 10px;
  font-size: 30px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__title:hover, .nav__title:focus {
  color: #FF6B08;
}

.navigation {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navigation__list {
  color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item {
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navigation__item:last-child {
  margin-left: 39px;
}

.navigation__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #FF6B08;
}

.navigation__link:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #FF6B08;
  border-radius: 2px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--active:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #FF6B08;
  border-radius: 2px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover:after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media screen and (max-width: 479px) {
  .nav__title {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav__container {
    padding-top: 46px;
  }
}

@media screen and (min-width: 768px) {
  .nav__container {
    padding-top: 41px;
  }
}

.header__search-form {
  margin-top: 41px;
}

.search-form__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .search-form__container {
    max-width: 336px;
  }
}

.search-form__input {
  width: 100%;
  background: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0.5px solid #ffffff;
  outline: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-form__input:focus, .search-form__input:hover {
  border-bottom: 1px solid #FF6B08;
}

.search-form__input, .search-form__input::-webkit-input-placeholder {
  padding-bottom: 4px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.search-form__input, .search-form__input:-ms-input-placeholder {
  padding-bottom: 4px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.search-form__input, .search-form__input::-ms-input-placeholder {
  padding-bottom: 4px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.search-form__input, .search-form__input::placeholder {
  padding-bottom: 4px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.search-form__btn {
  position: absolute;
  height: 100%;
  padding: 3px;
  bottom: 0;
  background: transparent;
  outline: none;
  right: 0px;
}

.search-form__btn:focus, .search-form__btn:hover {
  fill: #FF6B08;
}

.header__tools {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__toggle-library {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.genre,
.genre-choice {
  font: normal 11px/22px Arial, Sans-Serif;
  color: #000000;
  border: 1px solid #ccc;
}

.header__genre-option {
  padding: 0 10px;
  font-weight: bold;
}

.library {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}

.library div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.library__btn {
  width: 136px;
  height: 44px;
  background: rgba(0, 0, 0, 0.56);
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.library__btn:active, .library__btn--selected {
  background-color: #FF6B08;
  border: 1px solid #FF6B08;
  -webkit-filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
          filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}

.library__btn:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.footer {
  color: #545454;
  background-color: #F7F7F7;
}

.footer__icon-heart {
  margin: 0px 8px;
}

.body__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  padding: 24px 35px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    padding: 26px 0;
    font-size: 16px;
    line-height: 1.17;
  }
}

.footer__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .footer__text-btn {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer__text-btn {
    margin-left: 5px;
  }
}

.footer__btn {
  text-decoration: underline;
  text-align: center;
  border: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  -webkit-transition: -webkit-transform linear 250ms;
  transition: -webkit-transform linear 250ms;
  transition: transform linear 250ms;
  transition: transform linear 250ms, -webkit-transform linear 250ms;
}

.footer__btn:hover, .footer__btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #FF6B08;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movie-card {
    position: relative;
    list-style: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: -webkit-box-shadow;
    transition: -webkit-box-shadow;
    transition: box-shadow;
    transition: box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .movie-card:hover, .movie-card:focus {
    -webkit-box-shadow: 7px -7px 21px rgba(255, 107, 1, 0.6);
            box-shadow: 7px -7px 21px rgba(255, 107, 1, 0.6);
    opacity: 0.5;
  }
  .movie-card__img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .movie-card__title {
    font-weight: 500px;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
  }
  .movie-card__info {
    font-weight: 500px;
    font-size: 12px;
    line-height: 14.06px;
    color: #ff6b08;
  }
  .movie-card__vote-average {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 6px 12px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Roboto;
    font-size: 16px;
    background-color: #ff6b08;
    color: #fff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movie-card {
    position: relative;
    width: 294px;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    -webkit-transition: -webkit-box-shadow;
    transition: -webkit-box-shadow;
    transition: box-shadow;
    transition: box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .movie-card:nth-of-type(2n) {
    margin-right: -30px;
  }
  .movie-card:hover, .movie-card:focus {
    -webkit-box-shadow: 7px -7px 21px rgba(255, 107, 1, 0.6);
            box-shadow: 7px -7px 21px rgba(255, 107, 1, 0.6);
    opacity: 0.5;
  }
  .movie-card__img {
    width: 294px;
    height: 398px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .movie-card__title {
    font-weight: 500px;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
  }
  .movie-card__info {
    font-weight: 500px;
    font-size: 12px;
    line-height: 14.06px;
    color: #ff6b08;
    width: 293px;
  }
  .movie-card__vote-average {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 6px 12px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Roboto;
    font-size: 16px;
    background-color: #ff6b08;
    color: #fff;
  }
}

@media screen and (min-width: 1024px) {
  .movie-card {
    position: relative;
    width: 274px;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    -webkit-transition: -webkit-box-shadow;
    transition: -webkit-box-shadow;
    transition: box-shadow;
    transition: box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .movie-card:nth-of-type(3n) {
    margin-right: -30px;
  }
  .movie-card:hover, .movie-card:focus {
    -webkit-box-shadow: 7px -7px 21px rgba(255, 107, 1, 0.6);
            box-shadow: 7px -7px 21px rgba(255, 107, 1, 0.6);
    opacity: 0.5;
  }
  .movie-card__img {
    width: 274px;
    height: 398px;
    border-radius: 5px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .movie-card__title {
    font-weight: 500px;
    font-size: 12px;
    line-height: 16px;
    line-height: 14.06px;
    color: #000000;
  }
  .movie-card__info {
    font-weight: 500px;
    font-size: 12px;
    line-height: 16px;
    line-height: 14.06px;
    color: #ff6b08;
    width: 280px;
  }
  .movie-card__vote-average {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 6px 12px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Roboto;
    font-size: 16px;
    background-color: #ff6b08;
    color: #fff;
  }
}

.gallery_movies {
  min-height: 300px;
}

.watched-btn {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.queue-btn {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.modal__close-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal {
    position: relative;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 48px 20px 41px 20px;
    -webkit-box-shadow: inset 0 0 10px 5px rgba(247, 85, 40, 0.8);
            box-shadow: inset 0 0 10px 5px rgba(247, 85, 40, 0.8);
  }
  .modal__pic,
  .modal__description,
  .description__vote,
  .description__popularity,
  .description__title,
  .description__genre,
  .description__btn {
    list-style: none;
    padding-left: 0;
  }
  .description__list,
  .description__statistic {
    list-style: none;
  }
  .description__vote,
  .description__popularity,
  .description__title,
  .description__genre,
  .description__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  img {
    border-radius: 5px;
    width: 100%;
    min-height: 356.57px;
    height: auto;
  }
  img:hover, img:focus {
    cursor: pointner;
    -webkit-box-shadow: 7px -7px 21px rgba(255, 107, 1, 0.6);
            box-shadow: 7px -7px 21px rgba(255, 107, 1, 0.6);
    opacity: 0.5;
  }
  .description__film {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    color: #000000;
    padding-bottom: 20px;
    padding-top: 30.43px;
  }
  .description__vote,
  .description__popularity,
  .description__title,
  .description__header {
    padding-bottom: 10px;
  }
  .description__genre {
    padding-bottom: 20px;
  }
  .vote__value {
    padding-left: 41px;
  }
  .popularity__value {
    padding-left: 53px;
  }
  .title__value {
    padding-left: 39px;
  }
  .genre__value {
    padding-left: 76px;
  }
  .vote__mark {
    width: 36px;
    height: 16px;
    padding-left: 10px;
    padding-right: 9px;
    background-color: #ff6b01;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  .votes__mark {
    width: 36px;
    height: 16px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #f7f7f7;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  .vote__text,
  .popularity__text,
  .title__text,
  .genre__text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #8c8c8c;
  }
  .vote__value,
  .popularity__value,
  .title__value,
  .genre__value {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #000000;
  }
  .description__text {
    width: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: #000000;
  }
  .watched-btn {
    width: 112.58px;
    height: 44px;
    background: #ff6b01;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 21px;
    cursor: pointer;
  }
  .queue-btn {
    width: 112.58px;
    height: 44px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-left: 14.85px;
    margin-top: 21px;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 618px;
    min-height: 562px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 42px 30px 40px 28px;
    -webkit-box-shadow: inset 0 0 10px 5px rgba(247, 85, 40, 0.8);
            box-shadow: inset 0 0 10px 5px rgba(247, 85, 40, 0.8);
  }
  .modal__pic,
  .modal__description,
  .description__vote,
  .description__popularity,
  .description__title,
  .description__genre,
  .description__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .description__list,
  .description__statistic {
    list-style: none;
    padding-left: 32px;
  }
  img {
    border-radius: 5px;
  }
  img:hover, img:focus {
    cursor: pointner;
    -webkit-box-shadow: 7px -7px 21px rgba(255, 107, 1, 0.6);
            box-shadow: 7px -7px 21px rgba(255, 107, 1, 0.6);
    opacity: 0.5;
  }
  .description__film {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    color: #000000;
    padding-bottom: 20px;
  }
  .description__vote,
  .description__popularity,
  .description__title,
  .description__header {
    padding-bottom: 10px;
  }
  .description__genre {
    padding-bottom: 20px;
  }
  .vote__value {
    padding-left: 41px;
  }
  .popularity__value {
    padding-left: 53px;
  }
  .title__value {
    padding-left: 39px;
  }
  .genre__value {
    padding-left: 76px;
  }
  .vote__mark {
    width: 36px;
    height: 16px;
    padding-left: 10px;
    padding-right: 9px;
    background-color: #ff6b01;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  .votes__mark {
    width: 36px;
    height: 16px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #f7f7f7;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  .vote__text,
  .popularity__text,
  .title__text,
  .genre__text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #8c8c8c;
  }
  .vote__value,
  .popularity__value,
  .title__value,
  .genre__value {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #000000;
  }
  .description__text {
    width: 264px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: #000000;
  }
  .watched-btn {
    width: 125.03px;
    height: 44px;
    background: #ff6b01;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
  }
  .queue-btn {
    width: 125.03px;
    height: 44px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-left: 15px;
    margin-top: 20px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 882px;
    min-height: 568px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 50px 30px 40.2px 30px;
    -webkit-box-shadow: inset 0 0 10px 5px rgba(247, 85, 40, 0.8);
            box-shadow: inset 0 0 10px 5px rgba(247, 85, 40, 0.8);
  }
  .modal__pic,
  .modal__description,
  .description__vote,
  .description__popularity,
  .description__title,
  .description__genre,
  .description__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .description__list,
  .description__statistic {
    list-style: none;
    padding-left: 30px;
  }
  img {
    width: 396px;
    height: 477.8px;
    border-radius: 5px;
  }
  img:hover, img:focus {
    cursor: pointner;
    -webkit-box-shadow: 7px -7px 21px rgba(255, 107, 1, 0.6);
            box-shadow: 7px -7px 21px rgba(255, 107, 1, 0.6);
    opacity: 0.5;
  }
  .description__film {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    padding-bottom: 20px;
  }
  .description__vote,
  .description__popularity,
  .description__title,
  .description__header {
    padding-bottom: 10px;
  }
  .description__genre {
    padding-bottom: 20px;
  }
  .vote__value {
    padding-left: 85px;
  }
  .popularity__value {
    padding-left: 97px;
  }
  .title__value {
    padding-left: 83px;
  }
  .genre__value {
    padding-left: 120px;
  }
  .vote__mark {
    width: 36px;
    height: 16px;
    padding-left: 10px;
    padding-right: 9px;
    background-color: #ff6b01;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  .votes__mark {
    width: 36px;
    height: 16px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #f7f7f7;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  .vote__text,
  .popularity__text,
  .title__text,
  .genre__text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #8c8c8c;
  }
  .vote__value,
  .popularity__value,
  .title__value,
  .genre__value {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #000000;
  }
  .description__text {
    width: 396px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: #000000;
  }
  .watched-btn,
  .queue-btn {
    width: 112px;
    height: 44px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-left: 15px;
    margin-top: 21px;
    cursor: pointer;
  }
  .watched-btn:hover, .watched-btn:focus,
  .queue-btn:hover,
  .queue-btn:focus {
    background-color: #FF6B08;
    color: #ffffff;
    border: 1px solid #FF6B08;
  }
}

@media screen and (min-width: 1024px) and (min-width: 768px) and (max-width: 1023px) {
  .watched-btn,
  .queue-btn {
    width: 125px;
  }
}

@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .watched-btn,
  .queue-btn {
    width: 136px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .backdrop {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 1;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .backdrop::-webkit-scrollbar {
    display: none;
  }
  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .modal__close-btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    position: absolute;
    top: 18px;
    right: 18px;
    width: 14px;
    height: 14px;
    background-color: orangered;
    fill: #000000;
    z-index: 1;
    cursor: pointer;
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .backdrop {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 1;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 5px;
  }
  .backdrop::-webkit-scrollbar {
    display: none;
  }
  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .modal__close-btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    position: absolute;
    top: 18px;
    right: 18px;
    width: 20px;
    height: 20px;
    background-color: orangered;
    fill: #000000;
    z-index: 1;
    cursor: pointer;
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1024px) {
  .backdrop {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 1;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 5px;
  }
  .backdrop::-webkit-scrollbar {
    display: none;
  }
  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .modal__close-btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    position: absolute;
    top: 18px;
    right: 18px;
    width: 14px;
    height: 14px;
    background-color: orangered;
    fill: #000000;
    cursor: pointer;
    z-index: 1;
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.team-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0;
  padding: 20px;
}

@media screen and (max-width: 388px) {
  .team-modal {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (min-width: 480px) {
  .team-modal {
    padding: 0;
  }
}

@media screen and (min-width: 480px) and (max-height: 352px) {
  .team-modal {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (min-width: 768px) and (max-height: 358px) {
  .team-modal {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (min-width: 1024px) and (max-height: 480px) {
  .team-modal {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.tm-content {
  width: 100%;
  background-color: #dfc6a5bb;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 4px solid transparent;
  border-radius: 16px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 6px 9px #FF6B08, inset 0 0 9px #FF6B08;
          box-shadow: 0 6px 9px #FF6B08, inset 0 0 9px #FF6B08;
}

.tm-content::after {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6b02), to(#ff001b));
  background: linear-gradient(#ff6b02, #ff001b);
  content: '';
  z-index: -1;
  border-radius: 16px;
}

@media screen and (min-width: 480px) {
  .tm-content {
    width: 440px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .tm-content {
    width: 660px;
    padding-bottom: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .tm-content {
    width: 1000px;
    padding-bottom: 40px;
  }
}

.tm-content .tm-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  font-weight: bold;
  padding: 5px;
}

@media screen and (min-width: 480px) {
  .tm-content .tm-header {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .tm-content .tm-header {
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .tm-content .tm-header {
    font-size: 40px;
  }
}

.tm-content .tm-header-container {
  margin-top: 0px;
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .tm-content .tm-header-container {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .tm-content .tm-header-container {
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .tm-content .tm-header-container {
    margin-top: 25px;
  }
}

.tm-content .tm-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding-top: 4px;
  padding-left: 8px;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: #FF6B08 solid 1px;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tm-content .tm-close-btn:hover, .tm-content .tm-close-btn:focus {
  background-color: #FF6B08;
  fill: #ffffff;
}

.tm-content .tm-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.tm-content .tm-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tm-content .tm-members-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 114px;
}

.tm-content .tm-members-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .tm-content .tm-members-item {
    width: 120px;
  }
  .tm-content .tm-members-item:not(:last-child) {
    margin-bottom: 12px;
  }
  .tm-content .tm-members-item:nth-child(n + 7) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .tm-content .tm-members-item {
    width: 125px;
  }
  .tm-content .tm-members-item:not(:last-child) {
    margin-bottom: 22px;
  }
  .tm-content .tm-members-item:nth-child(n + 6) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .tm-content .tm-members-item {
    width: 180px;
  }
  .tm-content .tm-members-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .tm-content .tm-members-item:nth-child(n + 6) {
    margin-bottom: 0;
  }
}

.tm-content .member-image {
  width: 80px;
  height: 80px;
  border-radius: 30% 0;
  background-color: #848ea5;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}

.tm-content .member-image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (min-width: 480px) {
  .tm-content .member-image {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .tm-content .member-image {
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .tm-content .member-image {
    width: 120px;
    height: 120px;
  }
}

.tm-content .member-link {
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .tm-content .member-link {
    margin-bottom: 10px;
  }
}

.tm-content .member-name {
  font-size: 11px;
  font-weight: bold;
  color: black;
  margin-bottom: 2px;
}

@media screen and (min-width: 768px) {
  .tm-content .member-name {
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .tm-content .member-name {
    font-size: 17px;
  }
}

.tm-content .member-position {
  font-size: 10px;
  font-weight: bold;
  color: #6e6e6e;
}

@media screen and (min-width: 768px) {
  .tm-content .member-position {
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .tm-content .member-position {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */