<section class="footer">
  <div class="footer__container container">
    <p class="footer__text">&#169;  2022 | All Rights Reserved | 
        </p>
      <p class="footer__text-btn">
            Developed with  
            <svg class="footer__icon-heart" width="14" height="13">
        <use href="/images/svg/symbol-defs.svg#icon-favorite"></use>
      </svg>
            by
            <button class="footer__btn" id="team_open" type="button">GoIT Students</button>
        </p>
  </div>
</section>