<div class="team-modal backdrop is-hidden" id="team_box">
  <div class="tm-content">
    <div class="tm-header-container">
      <h2 class="tm-header">
        Team 02
      </h2>
    </div>
    <button type="button" class="tm-close-btn" id="team_close">
      <svg width="13" height="13" class="tm-exit">
        <use href="/images/svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="tm-body">
      <ul class="tm-members">
        <li class="tm-members-item">
          <a class="member-link" target="_blank" href="https://github.com/xxMANIAKxx"><img
              src="./images/team/michal.jpg" class="member-image" alt="Photo of Michał" /></a>
          <p class="member-name lang-serg">Michał</p>
          <p class="member-position lang-lead">Team Lead</p>
        </li>

        <li class="tm-members-item">
          <a class="member-link" target="_blank" href="https://github.com/Piojank"><img src="./images/team/piotr.jpg"
              class="member-image" alt="Photo of Piotr" /></a>
          <p class="member-name lang-serg">Piotr</p>
          <p class="member-position lang-lead">Scrum master</p>
        </li>

        <li class="tm-members-item">
          <a class="member-link" target="_blank" href="https://github.com/Aechelonea"><img
              src="./images/team/judyta.jpg" class="member-image" alt="Photo of Judyta" /></a>
          <p class="member-name lang-serg">Judyta</p>
          <p class="member-position lang-lead">Developer</p>
        </li>

        <li class="tm-members-item">
          <a class="member-link" target="_blank" href="https://github.com/marlenamadej"><img
              src="./images/team/marlena.jpg" class="member-image" alt="Photo of Marlena" /></a>
          <p class="member-name lang-serg">Marlena</p>
          <p class="member-position lang-lead">Developer</p>
        </li>

        <li class="tm-members-item">
          <a class="member-link" target="_blank" href="https://github.com/GrzegorzKobuszewski"><img
              src="./images/team/grzegorz.jpg" class="member-image" alt="Photo of Grzegorz" /></a>
          <p class="member-name lang-serg">Grzegorz</p>
          <p class="member-position lang-lead">Developer

        <li class="tm-members-item">
          <a class="member-link" target="_blank" href="https://github.com/LukaszBomba"><img
              src="./images/team/lukasz.jpg" class="member-image" alt="Photo of Łukasz" /></a>
          <p class="member-name lang-serg">Łukasz</p>
          <p class="member-position lang-lead">Developer</p>
        </li>


      </ul>
    </div>
  </div>
</div>